@import './fonts.css';

@import './general.css';

@import './main.css';

/* pages */
@import './pages/index.css';
@import './pages/buy.css';
@import './pages/games.css';

.judges-section h3 {
    margin-top: -105px;
}

.news-gap {
    margin-bottom: 10rem;
}

.carousel-inner {
    width: 80%;
}

.carousel-control-prev, .carousel-control-next {
    align-items: normal;
    margin-top: 101px;
}

.powerful-features-section {
    margin-bottom: 170px;
}
.first-judge-card, .third-judge-card {
    margin-bottom: 450px;
}

.how-it-was-title {
    font-size: 3rem;
}

@media (max-width: 540px) {
    /*.powerful-features-section {*/
    /*  margin-bottom: -200px;*/
    /*}*/
    .judges-section {
        margin-top: 200px;
    }

    .carousel-control-prev, .carousel-control-next {
        margin-top: 231px;
    }
    .first-judge-card {
        margin-bottom: 850px;
    }

    .third-judge-card {
        margin-top: 60px;
    }
    .carousel-inner {
        width: 70%;
    }

    .judges-section .carousel-inner {
        width: 90%;
    }

    .powerful-features-section {
        margin-bottom: 650px;
    }

    .feed-text h4 {
        margin-bottom: 1rem;
    }

    .feed {
        flex-wrap: wrap;
    }

    .feeds-title, .how-it-was-title {
        text-align: center;
        /*font-size: 2.8rem;*/
        font-size: 2.4rem !important;
    }

    .carousel-inner {
        /*width: 70%;*/
        width: 80%;
    }
    /*.news-gap {*/
    /*  margin-bottom: 10rem;*/
    /*}*/

    .about-gap {
        margin-bottom: 10rem;
    }

    .judges-section .card {
        min-width: 12rem;
    }

    .judges-section {
        padding-left: 0;
        padding-right: 0;
    }

    .judges-section .judges-container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .judges-container > .container {
        padding-left: 0;
        padding-right: 0;
    }


    .judges-section h3 {
        margin-top: 185px;
    }
}

@media (max-width: 970px) {
    .masthead-subtitle {
        font-size: 1.2rem;
        line-height: 1.2rem;
        margin-bottom: 2rem;
    }}

@media (min-width: 970px) {
    .ratio {
        width: 80%;
        margin: auto;
    }
}

.stretch-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
}

.stretch-card .card {
    width: 100%;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.row .card {
    border: none;
}

.banner-content {
    position: absolute;
    padding: 40px 60px;
    left: 0px;
    bottom: 0px;
    color: #ffffff;
}

.border-bottom-blue {
    border-bottom: solid 1px #032a63;
}
@media (max-width: 999px) {
    .judges-section {
        margin-top: 400px;
    }
    .banner-content h1 {
        font-size: 18px;
        padding-left: 12px;
    }

    .banner-content {
        padding: 12px;
    }

    .get-in-touch {
        font-size: 2rem !important;
    }
}

.rotate-img {
    overflow: hidden;
}

@media (max-width: 540px) {
    .powerful-features-section {
        margin-bottom: 500px;
    }

    .judges-section {
        margin-top: 200px;
    }
}


.rotate-img img {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}

.rotate-img img:hover {
    -webkit-transform: rotate(15deg) scale(1.4);
    transform: rotate(15deg) scale(1.4);
}

.card-judge {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card-judge {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #000;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body-judge {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #000;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.avatar {
    border: 2px solid #fff;
    width: 15rem !important;
}

@media (max-width: 1200px) {
    .avatar {
        width: 10rem !important;
    }
}

@media (max-width: 420px) {
    .judges-section .card {
        height: 9rem !important;
    }

    .avatar {
        width: 15rem !important;
    }
}



.get-started-section .card {
    border: none;
    background: #262627;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 0px rgba(255, 255, 255, 0.04);
    border-radius: 18px;
    height: 15rem;
}

.get-started-section .card-title {
    margin-top: -65px;
    margin-bottom: 45px;
}

.get-started-section .card-body  {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0.5rem 1rem;
}
.desktop {
    width: 80%;
}

.feature-header {
    font-weight: 500;
    margin-top: 18px;
    margin-bottom: 12.5px;
}

.incredible-features-section h5 {
    font-weight: 500;
}
.get-started-section .card {
    width: 18rem;
}

.powerful-features-section h3 {
    margin-top: -105px;
}

@media (max-width: 1200px) {
    .best::after {
        font-size: 6rem;
    }
}

@media (max-width: 970px) {
    .why-we-are-better-section h3 {
        margin-top: 25px !important;
    }
    .powerful-features-section h3 {
        margin-bottom: 80px !important;
        margin-top: 180px;
    }
}

@media (max-width: 650px) {
    .powerful-features-section .features {
        margin-top: 0 !important;
    }

    .powerful-features-section h3 {
        margin-bottom: 30px !important;
    }

    .remove-margin-for-mobile {
        margin: 0px !important;
    }
}


@media (max-width: 460px) {
    .powerful-features-section .feature {
        margin-right: 1.75rem !important;
        margin-left: 1.75rem !important;
    }
}

@media (max-width: 420px) {
    .incredible-features-section .desktop {
        width: 90% !important;
    }
    .works-for-section .card, .get-started-section .card {
        min-width: 20rem;
    }
    .card a {
        font-size: 0.75rem;
    }
    .get-started-section .card-body {
        width: 90%;
    }
}

body{
    /*background-color:#eee;*/
    margin-top:20px;
}

.list-timeline {
    margin: 0;
    padding: 5px 0;
    position: relative
}

.list-timeline:before {
    width: 1px;
    background: #ccc;
    position: absolute;
    left: 6px;
    top: 0;
    bottom: 0;
    height: 100%;
    content: ''
}

.list-timeline .list-timeline-item {
    margin: 0;
    padding: 0;
    padding-left: 24px !important;
    position: relative
}

.list-timeline .list-timeline-item:before {
    width: 12px;
    height: 12px;
    background: #fff;
    border: 2px solid #ccc;
    position: absolute;
    left: 0;
    top: 4px;
    content: '';
    border-radius: 100%;
    -webkit-transition: all .3 ease-in-out;
    transition: all .3 ease-in-out
}

.selected-timeline-item:before {
    background: #f18606 !important;
}

.list-timeline .list-timeline-item[data-toggle=collapse] {
    cursor: pointer
}

.list-timeline .list-timeline-item.active:before,
.list-timeline .list-timeline-item.show:before {
    background: #ccc
}

.list-timeline.list-timeline-light .list-timeline-item.active:before,
.list-timeline.list-timeline-light .list-timeline-item.show:before,
.list-timeline.list-timeline-light:before {
    background: #f8f9fa
}

.list-timeline .list-timeline-item.list-timeline-item-marker-middle:before {
    top: 50%;
    margin-top: -6px
}

.list-timeline.list-timeline-light .list-timeline-item:before {
    border-color: #f8f9fa
}

.list-timeline.list-timeline-grey .list-timeline-item.active:before,
.list-timeline.list-timeline-grey .list-timeline-item.show:before,
.list-timeline.list-timeline-grey:before {
    background: #e9ecef
}

.list-timeline.list-timeline-grey .list-timeline-item:before {
    border-color: #e9ecef
}

.list-timeline.list-timeline-grey-dark .list-timeline-item.active:before,
.list-timeline.list-timeline-grey-dark .list-timeline-item.show:before,
.list-timeline.list-timeline-grey-dark:before {
    background: #495057
}

.list-timeline.list-timeline-grey-dark .list-timeline-item:before {
    border-color: #495057
}

.list-timeline.list-timeline-primary .list-timeline-item.active:before,
.list-timeline.list-timeline-primary .list-timeline-item.show:before,
.list-timeline.list-timeline-primary:before {
    /*background: #55A79A;*/
    /*background: #fff;*/
    background: #f18606;
}

.list-timeline.list-timeline-primary .list-timeline-item:before {
    /*border-color: #55A79A;*/
    border-color: #f18606;
}

.list-timeline.list-timeline-primary-dark .list-timeline-item.active:before,
.list-timeline.list-timeline-primary-dark .list-timeline-item.show:before,
.list-timeline.list-timeline-primary-dark:before {
    background: #33635c
}

.list-timeline.list-timeline-primary-dark .list-timeline-item:before {
    border-color: #33635c
}

.list-timeline.list-timeline-primary-faded .list-timeline-item.active:before,
.list-timeline.list-timeline-primary-faded .list-timeline-item.show:before,
.list-timeline.list-timeline-primary-faded:before {
    background: rgba(85, 167, 154, .3)
}

.list-timeline.list-timeline-primary-faded .list-timeline-item:before {
    border-color: rgba(85, 167, 154, .3)
}

.list-timeline.list-timeline-info .list-timeline-item.active:before,
.list-timeline.list-timeline-info .list-timeline-item.show:before,
.list-timeline.list-timeline-info:before {
    background: #17a2b8
}

.list-timeline.list-timeline-info .list-timeline-item:before {
    border-color: #17a2b8
}

.list-timeline.list-timeline-success .list-timeline-item.active:before,
.list-timeline.list-timeline-success .list-timeline-item.show:before,
.list-timeline.list-timeline-success:before {
    background: #28a745
}

.list-timeline.list-timeline-success .list-timeline-item:before {
    border-color: #28a745
}

.list-timeline.list-timeline-warning .list-timeline-item.active:before,
.list-timeline.list-timeline-warning .list-timeline-item.show:before,
.list-timeline.list-timeline-warning:before {
    background: #ffc107
}

.list-timeline.list-timeline-warning .list-timeline-item:before {
    border-color: #ffc107
}

.list-timeline.list-timeline-danger .list-timeline-item.active:before,
.list-timeline.list-timeline-danger .list-timeline-item.show:before,
.list-timeline.list-timeline-danger:before {
    background: #dc3545
}

.list-timeline.list-timeline-danger .list-timeline-item:before {
    border-color: #dc3545
}

.list-timeline.list-timeline-dark .list-timeline-item.active:before,
.list-timeline.list-timeline-dark .list-timeline-item.show:before,
.list-timeline.list-timeline-dark:before {
    background: #343a40
}

.list-timeline.list-timeline-dark .list-timeline-item:before {
    border-color: #343a40
}

.list-timeline.list-timeline-secondary .list-timeline-item.active:before,
.list-timeline.list-timeline-secondary .list-timeline-item.show:before,
.list-timeline.list-timeline-secondary:before {
    background: #6c757d
}

.list-timeline.list-timeline-secondary .list-timeline-item:before {
    border-color: #6c757d
}

.list-timeline.list-timeline-black .list-timeline-item.active:before,
.list-timeline.list-timeline-black .list-timeline-item.show:before,
.list-timeline.list-timeline-black:before {
    background: #000
}

.list-timeline.list-timeline-black .list-timeline-item:before {
    border-color: #000
}

.list-timeline.list-timeline-white .list-timeline-item.active:before,
.list-timeline.list-timeline-white .list-timeline-item.show:before,
.list-timeline.list-timeline-white:before {
    background: #fff
}

.list-timeline.list-timeline-white .list-timeline-item:before {
    border-color: #fff
}

.list-timeline.list-timeline-green .list-timeline-item.active:before,
.list-timeline.list-timeline-green .list-timeline-item.show:before,
.list-timeline.list-timeline-green:before {
    background: #55A79A
}

.list-timeline.list-timeline-green .list-timeline-item:before {
    border-color: #55A79A
}

.list-timeline.list-timeline-red .list-timeline-item.active:before,
.list-timeline.list-timeline-red .list-timeline-item.show:before,
.list-timeline.list-timeline-red:before {
    background: #BE3E1D
}

.list-timeline.list-timeline-red .list-timeline-item:before {
    border-color: #BE3E1D
}

.list-timeline.list-timeline-blue .list-timeline-item.active:before,
.list-timeline.list-timeline-blue .list-timeline-item.show:before,
.list-timeline.list-timeline-blue:before {
    background: #00ADBB
}

.list-timeline.list-timeline-blue .list-timeline-item:before {
    border-color: #00ADBB
}

.list-timeline.list-timeline-purple .list-timeline-item.active:before,
.list-timeline.list-timeline-purple .list-timeline-item.show:before,
.list-timeline.list-timeline-purple:before {
    background: #b771b0
}

.list-timeline.list-timeline-purple .list-timeline-item:before {
    border-color: #b771b0
}

.list-timeline.list-timeline-pink .list-timeline-item.active:before,
.list-timeline.list-timeline-pink .list-timeline-item.show:before,
.list-timeline.list-timeline-pink:before {
    background: #CC164D
}

.list-timeline.list-timeline-pink .list-timeline-item:before {
    border-color: #CC164D
}

.list-timeline.list-timeline-orange .list-timeline-item.active:before,
.list-timeline.list-timeline-orange .list-timeline-item.show:before,
.list-timeline.list-timeline-orange:before {
    background: #e67e22
}

.list-timeline.list-timeline-orange .list-timeline-item:before {
    border-color: #e67e22
}

.list-timeline.list-timeline-lime .list-timeline-item.active:before,
.list-timeline.list-timeline-lime .list-timeline-item.show:before,
.list-timeline.list-timeline-lime:before {
    background: #b1dc44
}

.list-timeline.list-timeline-lime .list-timeline-item:before {
    border-color: #b1dc44
}

.list-timeline.list-timeline-blue-dark .list-timeline-item.active:before,
.list-timeline.list-timeline-blue-dark .list-timeline-item.show:before,
.list-timeline.list-timeline-blue-dark:before {
    background: #34495e
}

.list-timeline.list-timeline-blue-dark .list-timeline-item:before {
    border-color: #34495e
}

.list-timeline.list-timeline-red-dark .list-timeline-item.active:before,
.list-timeline.list-timeline-red-dark .list-timeline-item.show:before,
.list-timeline.list-timeline-red-dark:before {
    background: #a10f2b
}

.list-timeline.list-timeline-red-dark .list-timeline-item:before {
    border-color: #a10f2b
}

.list-timeline.list-timeline-brown .list-timeline-item.active:before,
.list-timeline.list-timeline-brown .list-timeline-item.show:before,
.list-timeline.list-timeline-brown:before {
    background: #91633c
}

.list-timeline.list-timeline-brown .list-timeline-item:before {
    border-color: #91633c
}

.list-timeline.list-timeline-cyan-dark .list-timeline-item.active:before,
.list-timeline.list-timeline-cyan-dark .list-timeline-item.show:before,
.list-timeline.list-timeline-cyan-dark:before {
    background: #008b8b
}

.list-timeline.list-timeline-cyan-dark .list-timeline-item:before {
    border-color: #008b8b
}

.list-timeline.list-timeline-yellow .list-timeline-item.active:before,
.list-timeline.list-timeline-yellow .list-timeline-item.show:before,
.list-timeline.list-timeline-yellow:before {
    background: #D4AC0D
}

.list-timeline.list-timeline-yellow .list-timeline-item:before {
    border-color: #D4AC0D
}

.list-timeline.list-timeline-slate .list-timeline-item.active:before,
.list-timeline.list-timeline-slate .list-timeline-item.show:before,
.list-timeline.list-timeline-slate:before {
    background: #5D6D7E
}

.list-timeline.list-timeline-slate .list-timeline-item:before {
    border-color: #5D6D7E
}

.list-timeline.list-timeline-olive .list-timeline-item.active:before,
.list-timeline.list-timeline-olive .list-timeline-item.show:before,
.list-timeline.list-timeline-olive:before {
    background: olive
}

.list-timeline.list-timeline-olive .list-timeline-item:before {
    border-color: olive
}

.list-timeline.list-timeline-teal .list-timeline-item.active:before,
.list-timeline.list-timeline-teal .list-timeline-item.show:before,
.list-timeline.list-timeline-teal:before {
    background: teal
}

.list-timeline.list-timeline-teal .list-timeline-item:before {
    border-color: teal
}

.list-timeline.list-timeline-green-bright .list-timeline-item.active:before,
.list-timeline.list-timeline-green-bright .list-timeline-item.show:before,
.list-timeline.list-timeline-green-bright:before {
    background: #2ECC71
}

.list-timeline.list-timeline-green-bright .list-timeline-item:before {
    border-color: #2ECC71
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.swing:hover
{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.lightbox-carousel .carousel-inner {
    width: 100%;
}

.photo-gallery {
    color:#313437;
    background-color:#fff;
}

.photo-gallery p {
    color:#7d8285;
}

.photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
}

@media (max-width:767px) {
    .photo-gallery h2 {
        margin-bottom:25px;
        padding-top:25px;
        font-size:24px;
    }
}

.photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
}

.photo-gallery .intro p {
    margin-bottom:0;
}

.photo-gallery .photos {
    padding-bottom:20px;
}

.photo-gallery .item {
    padding-bottom:30px;
}

.hello {
    opacity: 1 !important;
}
.full {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.full .content {
    background-color: rgba(0,0,0,0.75) !important;
    height: 100%;
    width: 100%;
    display: grid;
}
.full .content img {
    left: 50%;
    transform: translate3d(0, 0, 0);
    animation: zoomin 1s ease;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.byebye {
    opacity: 0;
}
.byebye:hover {
    transform: scale(0.2) !important;
}

.gallery {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 8px;
}
.gallery img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
}
.gallery img:hover {
    box-shadow: 0 0 32px #333;
}
.gallery .content {
    padding: 4px;
}

.gallery .gallery-item {
    transition: grid-row-start 300ms linear;
    transition: transform 300ms ease;
    transition: all 0.5s ease;
    cursor: pointer;
}
.gallery .gallery-item:hover {
    transform: scale(1.025);
}
@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
}
@media (max-width: 400px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }

    .site-head-card {
        height: 160px !important;
    }
}
@-moz-keyframes zoomin {
    0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }
    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }
    70% {
        max-width: 50%;
        transform: rotate(45deg);
    }
    100% {
        max-width: 100%;
        transform: rotate(0deg);
    }
}
@-webkit-keyframes zoomin {
    0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }
    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }
    70% {
        max-width: 50%;
        transform: rotate(45deg);
    }
    100% {
        max-width: 100%;
        transform: rotate(0deg);
    }
}
@-o-keyframes zoomin {
    0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }
    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }
    70% {
        max-width: 50%;
        transform: rotate(45deg);
    }
    100% {
        max-width: 100%;
        transform: rotate(0deg);
    }
}
@keyframes zoomin {
    0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }
    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }
    70% {
        max-width: 50%;
        transform: rotate(45deg);
    }
    100% {
        max-width: 100%;
        transform: rotate(0deg);
    }
}

@media (max-width: 970px) {
    .customer-cards-container {
        flex-wrap: wrap;
    }
}

.form-select, .form-control {
    background: rgba(246, 246, 255, 0.06);
    border: 1px solid rgba(246, 246, 255, 0.23);
    box-sizing: border-box;
    border-radius: 4px;
}

.form-control {
    color: #fff;
    margin-bottom: 20px;
    min-width: 280px;
}

.form-group > label {
    color: #fff;
    margin-bottom: 5px;
}

.form-check {
    margin-bottom: 15px;
}

.form-check-input:checked {
    background-color: #f18606;
    border-color: #f18606;
}