

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  grid-column: 2 / 3;
  -webkit-transform: translateX(-8%);
  transform: translateX(-8%);
}

.from-right {
  grid-column: 3 / 4;
  -webkit-transform: translateX(8%);
  transform: translateX(8%);
}

.from-left,
.from-right {
  transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in,
    -webkit-transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}


.from-top {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.from-bottom {
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

.from-bottom,
.from-top {
  transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in,
    -webkit-transform 400ms ease-in;
  opacity: 0;
}

.from-bottom.appear,
.from-top.appear {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}