@font-face {
  font-family: "Poppins-Light";
  font-style: normal;
  font-weight: 300;
  src: local("Poppins-Light"),
    url("../assets/fonts/Poppins-Light.ttf") format("ttf"),
}

@font-face {
  font-family: "Poppins-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins-Regular"),
    url("../assets/fonts/Poppins-Regular.ttf") format("ttf")
}

@font-face {
  font-family: "Poppins-Bold";
  font-style: normal;
  font-weight: 800;
  src: local("Poppins-Bold"),
    url("../assets/fonts/Poppins-Bold.ttf") format("ttf"),
}

